#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick-tap-ms = <100>;
            flavor = "balanced";
        };

        hrms: hrms {
            compatible = "zmk,behavior-hold-tap";
            label = "HRMS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
        };

        tdbt: tdbt {
            compatible = "zmk,behavior-tap-dance";
            label = "TDBT";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0>, <&bt BT_SEL 1>;

            tapping-term-ms = <200>;
        };
    };

    combos {
        compatible = "zmk,combos";

        Esc {
            bindings = <&kp ESCAPE>;
            key-positions = <1 2>;
            layers = <0 1 2>;
        };

        Delete {
            bindings = <&kp DELETE>;
            key-positions = <27 28>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Alpha {
            bindings = <
&kp Q  &kp W             &kp F         &kp P         &lt 2 B           &hrm HOME X       &hrm PG_DN L    &hrm PG_UP O  &hrms END U   &hrms GRAVE SQT
&kp R  &hrms LEFT_ALT N  &hrm LCTRL S  &hrm LSHFT T  &kp G             &kp Z             &hrm RSHFT H    &hrm RCTRL E  &hrms RALT I  &kp A
&kp Y  &kp M             &kp C         &kp D         &kp V             &kp J             &kp K           &kp COMMA     &kp DOT       &kp SLASH
                                       &lt 1 SPACE   &hrm LCTRL TAB    &hrm RSHFT ENTER  &hrm RGUI BSPC
            >;
        };

        util {
            bindings = <
&hrms F1 N1  &hrms F2 N2      &hrm F3 N3       &hrm F4 N4        &hrm F5 N5      &hrm F6 N6  &hrm F7 N7       &hrm F8 N8     &hrms F9 N9       &hrms F10 N0
&kp MINUS    &hrms LALT LPAR  &hrm LCTRL RPAR  &hrm LSHFT EQUAL  &kp SEMI        &kp LEFT    &hrm RSHFT DOWN  &hrm RCTRL UP  &hrms RALT RIGHT  &kp COLON
&kp LBKT     &kp LBRC         &kp RBRC         &kp RBKT          &hrm F11 F12    &kp GT      &kp PIPE         &trans         &trans            &kp BSLH
                                               &trans            &trans          &trans      &trans
            >;
        };

        bt {
            bindings = <
&none  &none  &none  &none  &none    &none  &none  &none  &none  &tdbt
&none  &none  &none  &none  &none    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none    &none  &none  &none  &none  &bt BT_CLR
                     &none  &none    &none  &none
            >;
        };
    };
};
